<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="ur10_v2.SLDASM">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="3.98405586445427E-05 0.561654859939186 -0.108556066614428"
        rpy="0 0 0" />
      <mass
        value="18.7683162355854" />
      <inertia
        ixx="0.163183653866727"
        ixy="4.11202345003445E-08"
        ixz="-3.05477873692724E-06"
        iyy="0.0401239809884064"
        iyz="0.00149818137292273"
        izz="0.160267553984548" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ur10_v2.SLDASM/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ur10_v2.SLDASM/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="amount_Link">
    <inertial>
      <origin
        xyz="1.86186569897559E-14 0.0505954949247491 -0.0409830019216441"
        rpy="0 0 0" />
      <mass
        value="0.183514785358204" />
      <inertia
        ixx="0.00053621598054889"
        ixy="-1.26385634857065E-19"
        ixz="1.71377565059957E-19"
        iyy="0.000525656340438756"
        iyz="0.000134994115007773"
        izz="0.000451346478361036" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ur10_v2.SLDASM/meshes/amount_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ur10_v2.SLDASM/meshes/amount_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint1"
    type="fixed">
    <origin
      xyz="0 0.25609 1.428"
      rpy="1.5708 0 -3.1416" />
    <parent
      link="base_link" />
    <child
      link="amount_Link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="camera_Link">
    <inertial>
      <origin
        xyz="2.85545558703237E-06 0.00442617876508633 -0.0296652165435764"
        rpy="0 0 0" />
      <mass
        value="2.43875456249428" />
      <inertia
        ixx="0.00366777685200384"
        ixy="3.65667206279503E-08"
        ixz="-4.1340860083693E-07"
        iyy="0.00535086867088883"
        iyz="0.000216031980388246"
        izz="0.00205613161528812" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ur10_v2.SLDASM/meshes/camera_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.941176470588235 0.941176470588235 0.941176470588235 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ur10_v2.SLDASM/meshes/camera_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint2"
    type="fixed">
    <origin
      xyz="0 0.0735 -0.021"
      rpy="0 0 -3.1416" />
    <parent
      link="amount_Link" />
    <child
      link="camera_Link" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>